html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #226cb6;
}
img {
  width: 200px;
  height: auto;
  display: block;
  margin: auto auto;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  text-align: center;
  height: 40px;
}
a {
  text-decoration: none;
  color: white;
  font-family: Courier New, monospace;
}

a:hover {
  color: powderblue;
}